
$primary:         #ff0048 !default;
$secondary:       #3dc2ff !default;
$tertiary:        #5260ff !default;
$success:         #2dd36f !default;
$warning:         #ffc409 !default;
$danger:          #eb445a !default;
$light:           #f4f5f8 !default;
$medium:          #92949c !default;
$dark:            #222428 !default;

//////////////////////


$colors:  (
  primary: (
    base:             $primary,
    contrast:         #fff,
  ),
) !default;
