:host {
  display: flex;
  flex-direction: column;

  background: var(--default-background-color, #fff);
  box-shadow: var(--default-box-shadow, 0 0 4px -2px);
  padding: var(--default-box-shadow, 20px) !important;

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

::slotted(*) {
  font-family: var(--default-font-face);
}
