@import '../../css/mixins/colorVariants.scss';
@import '../../css/mixins/fontVariants.scss';

:host {
  all: initial;
  @include boder-radius;
}

button {
  &.small {
    height: 32px;
    padding: 0 16px;
  }

  &.medium {
    height: 40px;
    padding: 0 24px;
  }

  &.large {
    height: 48px;
    padding: 0 32px;
  }

  @include color-variants;
  @include boder-radius;
  @include button-2;

  &:disabled {
    background: app-color(gray, 200);
    color: app-color(gray, 400);
    pointer-events: none;
    cursor: not-allowed;
    border: 0;

    &:hover {
      background: app-color(gray, 200);
      color: app-color(gray, 400);
      border: 0;
    }
  }
}
