@import 'theme.default.scss';

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansapp-Regular.ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansapp-Black.ttf');
  font-weight: bold;
}

// Theme color variables
:root {
  @each $key, $value in $colors {
    @include generate-custom-properties($key, $value);
  }

  --app-color-white: #{$app-color-white};
  --app-color-black: #{$app-color-black};
  --default-font-face: #{$default-font-face};
}

$default-font-face: 'Source Sans Pro';
