// see:
@function list-color-rgb($color) {
  @return #{red($color)}, #{green($color)}, #{blue($color)};
}

// see:
@function app-color($name, $weight: 500, $alpha: null, $rgb: false) {
  @if not map-has-key($colors, $name) {
    @error 'ERROR: There is no `#{$name}` color in the colors map. Values are: #{map-keys($colors)}`';
  }

  @each $key, $value in $colors {
    @if not map-has-key($colors, $key, $weight) {
      @error 'ERROR: There is no `#{$weight}` weight in the colors map. Values are: `#{map-keys($value)}`';
    }
  }

  $value: map-get(map-get($colors, $name), $weight);
  $variable: --app-color-#{$name}-#{$weight};

  @if ($alpha) {
    $value: list-color-rgb($value);
    @return rgba(var(#{$variable}-rgb, $value), $alpha);
  }

  @if ($rgb) {
    $value: list-color-rgb($value);
    $variable: #{$variable}-rgb;
  }

  @return var(#{$variable}, $value);
}
